{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Medicine</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Medicine Index</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'viewMedicines' %}"
                >View Medicines</a
              >
            </li>
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signin' %}">Login as Admins</a>
            </li>
            {% else %} {% if request.user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'viewAdmins' %}">View Admins</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
          </ul>
          <!-- Search Form -->
          <form class="d-flex" method="GET" action="{% url 'viewMedicines' %}">
            <input
              class="form-control me-2"
              type="search"
              name="search"
              placeholder="Search for medicines..."
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <div>
        <style>
          h5 {
            color: red;
          }
        </style>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
      </div>
      <h2>Fill up info to Add Medicine</h2>
      <br />
      <form action="" method="POST" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="mb-3">
          <label for="medicineName" class="form-label">Medicine Name</label>
          <input
            type="text"
            class="form-control"
            id="medicineName"
            name="medicineName"
            placeholder="Enter medicine name"
          />
        </div>
        <div class="mb-3">
          <label for="genericName" class="form-label">Generic Name</label>
          <input
            type="text"
            class="form-control"
            id="genericName"
            name="genericName"
            placeholder="Enter generic name"
          />
        </div>
        <div class="mb-3">
          <label for="manufacturer" class="form-label">Manufacturer</label>
          <input
            type="text"
            class="form-control"
            id="manufacturer"
            name="manufacturer"
            placeholder="Enter manufacturer name"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="3"
            placeholder="Enter medicine description"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            class="form-control"
            name="price"
            id="price"
            placeholder="Enter price"
          />
        </div>
        <div class="mb-3">
          <label for="batch_number" class="form-label">Batch Number</label>
          <input
            type="text"
            class="form-control"
            id="batch_number"
            name="batch_number"
            placeholder="Enter batch number"
          />
        </div>
        <button type="submit" class="btn btn-primary">Add Medicine</button>

        <a href="{% url 'viewMedicines'%}" class="btn btn-sm btn-secondary"
          >Back to Lists</a
        >
      </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      document
        .getElementById("submitBtn")
        .addEventListener("click", function (event) {
          event.preventDefault();
          validateForm();
        });

      function validateForm() {
        var medicineName = document.getElementById("medicineName").value;
        var genericName = document.getElementById("genericName").value;
        var manufacturer = document.getElementById("manufacturer").value;
        var description = document.getElementById("description").value;
        var price = document.getElementById("price").value;
        var batch_number = document.getElementById("batch_number").value;

        if (
          medicineName.trim() === "" ||
          genericName.trim() === "" ||
          manufacturer.trim() === "" ||
          description.trim() === "" ||
          price.trim() === "" ||
          batch_number.trim() === ""
        ) {
          alert("All fields must be filled out");
          return false;
        }

        if (isNaN(price)) {
          alert("Price must be a number");
          return false;
        }
        return true;
      }
    </script>
  </body>
</html>
